.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-center::after
{
   border-top: 1px solid red;
    color: #f5f5f5;

}


/* اعمال تم روی body */
@layer base {
  body {
    font-family: "Neue Kabel", sans-serif;
    background: linear-gradient(
      171.08deg,
      #010101 -11.16%,
      #141921 6.1%,
      #0a0d11 49.05%,
      #000000 93.22%
    );
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
}
